/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

:root {
  --bs-body-font-size: .9rem;
}

body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* .cover-container {
  max-width: 42em;
} */


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Others
 */

.popover-header
{
  color: darkslategray;
}

/* .conversion-table th:not(:first-child):not(:last-child),
.conversion-table td:not(:first-child):not(:last-child)
{
  text-align: center;
} */

.tab-pane-content
{
  background-color: #f2f2f2 !important;
}

.conversion-note
{
  top: 8px;
  right: 8px;
}

.text-justify {
  text-align: justify;
}

/* ########## ########## ########## ########## ########## ########## ########## ##########
NOTE: Blinking Effect
########## ########## ########## ########## ########## ########## ########## ########## */

.blinking
{
  animation: blinker 2.5s linear infinite;
}

/* https://stackoverflow.com/questions/28345222/css3-keyframe-animation-which-runs-on-hover */
.blinking:hover
{
  animation: unset;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.shadowBlinking
{
  animation: shadowBlinker 1.5s linear infinite;
}

@keyframes shadowBlinker {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  }
}